resources/flows.json
[{"id":"c69e9679.3619a","type":"http in","z":"f68ed3a2.ff5978","name":"Application API","url":"app","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["89eb5373.b00a88"]]},{"id":"89eb5373.b00a88","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>API Accessed Successfully!</h1>\n        <a href=\"logindemo\">Try another OAuth scheme!</a><br/>\n         <a href=\"configuredemo\">Configure again!</a>\n    </body>\n</html>","output":"str","x":360,"y":80,"wires":[["585c7b4c.685b54"]]},{"id":"585c7b4c.685b54","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":590,"y":80,"wires":[]},{"id":"8e2531e2.5d759","type":"http request","z":"f68ed3a2.ff5978","name":"Call APIConnect Authorize","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1463,"y":756,"wires":[["a9e241c3.f40ee8"]]},{"id":"9c5ecd93.7426e","type":"function","z":"f68ed3a2.ff5978","name":"application","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['APIm-Debug'] = 'true';\nmsg.payload = {}\nvar globalContext = global;\nmsg.payload.username = globalContext.get(\"username\");\nmsg.payload.password = globalContext.get(\"password\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nmsg.payload.client_secret = globalContext.get(\"client_secret\");\nmsg.payload.grant_type='client_credentials';\nmsg.payload.scope=\"appscope\";\nmsg.url=globalContext.get(\"oauth_authorize_url\");\nreturn msg;","outputs":1,"noerr":0,"x":1153,"y":616,"wires":[["8e2531e2.5d759","bf0406e2.a20438"]]},{"id":"c9982242.95285","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"appredirect","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1096,"wires":[["fdf374c.6effa88"]]},{"id":"f2d114c1.62eab","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":1290,"y":1156,"wires":[]},{"id":"a400589b.8d1f","type":"http in","z":"f68ed3a2.ff5978","name":"Authentication","url":"authenticate","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["eb94b920.da53b"]]},{"id":"eb94b920.da53b","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"200","headers":{},"x":460,"y":200,"wires":[]},{"id":"8410208.7c9b3e","type":"function","z":"f68ed3a2.ff5978","name":"Confidential","func":"msg.payload = {};\nmsg.payload = msg.scheme;\nreturn msg;","outputs":1,"noerr":0,"x":733,"y":656,"wires":[["72559489.4a28dc"]]},{"id":"72559489.4a28dc","type":"switch","z":"f68ed3a2.ff5978","name":"","property":"scheme","propertyType":"msg","rules":[{"t":"eq","v":"application","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"eq","v":"accesscode","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":893,"y":656,"wires":[["9c5ecd93.7426e"],["125e7753.407269"],["533329e4.1cc668"]]},{"id":"125e7753.407269","type":"function","z":"f68ed3a2.ff5978","name":"password","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['APIm-Debug'] = 'true';\nvar globalContext = global;\nmsg.payload={};\nmsg.payload.username = globalContext.get(\"username\");\nmsg.payload.password = globalContext.get(\"password\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nmsg.payload.client_secret = globalContext.get(\"client_secret\");\nmsg.payload.grant_type='password';\nmsg.payload.scope=\"appscope\";\nmsg.url=globalContext.get(\"oauth_token_url\");\nreturn msg;","outputs":1,"noerr":0,"x":1143,"y":656,"wires":[["8e2531e2.5d759","bf0406e2.a20438"]]},{"id":"533329e4.1cc668","type":"function","z":"f68ed3a2.ff5978","name":"accesscode","func":"var globalContext = global;\nmsg.payload={};\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":700,"wires":[["737fe3af.378624"]]},{"id":"879cd5a0.9fc89","type":"function","z":"f68ed3a2.ff5978","name":"implicit","func":"var globalContext = global;\nmsg.payload={};\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":1123,"y":756,"wires":[["d8607a6d.7e84d"]]},{"id":"f50ed9bc.a5e488","type":"function","z":"f68ed3a2.ff5978","name":"Public","func":"msg.payload = {};\nmsg.payload = msg.scheme;\nreturn msg;","outputs":1,"noerr":0,"x":733,"y":776,"wires":[["1282030f.84d04d"]]},{"id":"1282030f.84d04d","type":"switch","z":"f68ed3a2.ff5978","name":"","property":"scheme","propertyType":"msg","rules":[{"t":"eq","v":"implicit","vt":"str"},{"t":"eq","v":"password","vt":"str"},{"t":"eq","v":"accesscode","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":893,"y":776,"wires":[["879cd5a0.9fc89"],["3c94160f.bd0e12"],["a5db4fc2.44c"]]},{"id":"3c94160f.bd0e12","type":"function","z":"f68ed3a2.ff5978","name":"password","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nmsg.headers['APIm-Debug'] = 'true';\nvar globalContext = global;\nmsg.payload = {};\nmsg.payload.username = globalContext.get(\"username\");\nmsg.payload.password = globalContext.get(\"password\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nmsg.payload.grant_type='password';\nmsg.payload.scope=\"appscope\";\nmsg.url={};\nmsg.url=globalContext.get(\"oauth_token_url\");\nreturn msg;\n","outputs":1,"noerr":0,"x":1123,"y":796,"wires":[["8e2531e2.5d759","bf0406e2.a20438"]]},{"id":"a5db4fc2.44c","type":"function","z":"f68ed3a2.ff5978","name":"accesscode","func":"var globalContext = global;\nmsg.payload={};\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.redirect_url = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":1133,"y":836,"wires":[["5fe43fb6.0f5d"]]},{"id":"a7c8a46f.861cb","type":"switch","z":"f68ed3a2.ff5978","name":"","property":"impl","propertyType":"msg","rules":[{"t":"eq","v":"confidential","vt":"str"},{"t":"eq","v":"public","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":573,"y":696,"wires":[["8410208.7c9b3e"],["f50ed9bc.a5e488"]]},{"id":"7b943c65.ddbc8c","type":"function","z":"f68ed3a2.ff5978","name":"function","func":"msg.impl = {};\nmsg.impl = msg.payload.impl;\nmsg.scheme = {};\nmsg.scheme = msg.payload.scheme;\nvar globalContext = global;\nglobalContext.set(\"impl\",msg.impl);\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":696,"wires":[["a7c8a46f.861cb","8b01fa2f.167608"]]},{"id":"c99f7c46.0e5408","type":"http in","z":"f68ed3a2.ff5978","name":"getAccessToken","url":"getAccessToken","method":"post","upload":false,"swaggerDoc":"","x":120,"y":700,"wires":[["a082d55a.885ae"]]},{"id":"f49e4d49.d7c72","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":2070,"y":956,"wires":[]},{"id":"e988cb74.dcffe8","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"logindemo","method":"get","upload":false,"swaggerDoc":"","x":120,"y":399,"wires":[["78e028db.6226e"]]},{"id":"2e703003.e9fae","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>OAuth Demo | Login</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">OAuth Demo </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">Login</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"getAccessToken\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"username\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Username</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"username\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"password\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Password</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"password\" id=\"input_password\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"password\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"card-header\" align=\"center\">Choose OAuth\n\t\t\t\t\t\t\t\tImplementation Mode</div>\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"impl\" class=\"col-md-4 col-form-label text-md-right\">Confidential</label>\n\t\t\t\t\t\t\t\t<input type=\"radio\" name=\"impl\" value=\"confidential\" checked>\n\t\t\t\t\t\t\t\t<label for=\"impl\" class=\"col-md-4 col-form-label text-md-right\">Public</label>\n\t\t\t\t\t\t\t\t<input type=\"radio\" name=\"impl\" value=\"public\">\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"card-header\" align=\"center\">Choose OAuth Scheme</div>\n\n\t\t\t\t\t\t\t<div align=\"center\">\n\t\t\t\t\t\t\t\t<select id=\"scheme\" name=\"scheme\">\n\t\t\t\t\t\t\t\t\t<option value=\"application\">Application</option>\n\t\t\t\t\t\t\t\t\t<option value=\"implicit\">Implicit</option>\n\t\t\t\t\t\t\t\t\t<option value=\"password\">Password</option>\n\t\t\t\t\t\t\t\t\t<option value=\"accesscode\">Access code</option>\n\t\t\t\t\t\t\t\t</select>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Login</button>\n\t\t\t\t\t</div>\n\n\t\t\t\t\t</form>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":760,"y":399,"wires":[["2f7024dd.4d24e4"]]},{"id":"2f7024dd.4d24e4","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":1050,"y":399,"wires":[]},{"id":"d8607a6d.7e84d","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script>\n        function redirect(url) {\n\t\twindow.location = url;\n\t    }\n\t</script>\n    </head>\n    <body>\n        <script>\n            alert(\"Redirecting to login form from OAuth server...\");\n            redirect(\"{{{payload.oauth_authorize_url}}}?response_type=token&scope=appscope&client_id={{{payload.client_id}}}&redirect_uri={{{payload.redirect_url}}}\");\n        </script>\n    </body>\n</html>","output":"str","x":1323,"y":796,"wires":[["a684665a.7642b8"]]},{"id":"a684665a.7642b8","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"200","headers":{},"x":1563,"y":856,"wires":[]},{"id":"6bdec774.6cfd38","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script>\n            var loc = String(window.location);\n            var n = loc.includes(\"#\");\n            if (n)\n            {\n              var res = loc.replace(\"#\",\"?\");\n              window.location = res;\n            }\n            </script>\n        <body>\n            Some error occured. Please check the authorize and token URL. \n        </body>\n    </head>\n</html>","output":"str","x":900,"y":1156,"wires":[["f2d114c1.62eab"]]},{"id":"5fe43fb6.0f5d","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script>\n        function redirect(url) {\n\t\twindow.location = url;\n\t    }\n\t</script>\n    </head>\n    <body>\n        <script>\n            alert(\"Redirecting to login form from OAuth server...\");\n            redirect(\"{{{payload.oauth_authorize_url}}}?response_type=code&scope=appscope&client_id={{{payload.client_id}}}&redirect_uri={{{payload.redirect_url}}}\");\n        </script>\n    </body>\n</html>","output":"str","x":1343,"y":896,"wires":[["a684665a.7642b8"]]},{"id":"2963577f.2a4288","type":"switch","z":"f68ed3a2.ff5978","name":"","property":"payload.tok","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":1096,"wires":[["a9e241c3.f40ee8"],["ce66a466.5982a8"],["6bdec774.6cfd38"]]},{"id":"ebfe2c0d.fe7a7","type":"function","z":"f68ed3a2.ff5978","name":"","func":"// token appears after a # in the URL\nmsg.payload.tok = 0;\n\nif (msg.payload.code)\n{\n    msg.payload.tok = 1;\n}\nif (msg.payload.access_token)\n{\n    msg.payload.tok = 2;\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1096,"wires":[["2963577f.2a4288"]]},{"id":"ce66a466.5982a8","type":"function","z":"f68ed3a2.ff5978","name":"","func":"msg.url=msg.payload.oauth_token_url;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/x-www-form-urlencoded';\nvar globalContext=global;\nmsg.payload.grant_type='authorization_code';\nmsg.payload.redirect_uri=globalContext.get(\"redirect_url\");\nmsg.payload.client_id=globalContext.get(\"client_id\");\n// client secret is not sent in public implementation mode\nif (globalContext.get(\"impl\") == \"public\")\n   msg.payload.client_secret = null;\nreturn msg;\n","outputs":1,"noerr":0,"x":1110,"y":1096,"wires":[["42ccacf.4c2a3d4","a5b211a6.bea05"]]},{"id":"42ccacf.4c2a3d4","type":"http request","z":"f68ed3a2.ff5978","name":"Call API Connect Token URL","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1400,"y":1096,"wires":[["a9e241c3.f40ee8"]]},{"id":"737fe3af.378624","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script>\n        function redirect(url) {\n\t\twindow.location = url;\n\t    }\n\t</script>\n    </head>\n    <body>\n        <script>\n            alert(\"Redirecting to login form from OAuth server...\");\n            redirect(\"{{{payload.oauth_authorize_url}}}?response_type=code&scope=appscope&client_id={{{payload.client_id}}}&redirect_uri={{{payload.redirect_url}}}\");\n        </script>\n    </body>\n</html>","output":"str","x":1400,"y":680,"wires":[["de3a4e34.58c048"]]},{"id":"de3a4e34.58c048","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":1603,"y":696,"wires":[]},{"id":"a9e241c3.f40ee8","type":"function","z":"f68ed3a2.ff5978","name":"function","func":"var jsonstr = msg.payload;\n\nvar jsonobj = {};\nif (typeof(jsonstr)==\"string\")\n   jsonobj = JSON.parse(jsonstr);\nelse  jsonobj = jsonstr;\nmsg.payload = {};\nmsg.payload = jsonobj;\nvar globalContext =  global;\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nmsg.payload.url = msg.payload.node_red_url+\"/apimenu\";\nmsg.payload.domain = msg.payload.node_red_url.substring(8);\nreturn msg;","outputs":1,"noerr":0,"x":1680,"y":956,"wires":[["e6192aff.a3fd1"]]},{"id":"e6192aff.a3fd1","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n    <title>Authentication Successful!</title>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n    <script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n    <script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tif (!cvalue)\n\t\t   alert(\"Some error occurred. Please check the authorize and token URLs.\");\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\" + \";domain={{{payload.domain}}};secure\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tsetCookie(\"token\", \"{{{payload.access_token}}}\", 1);\n</script>\n    \n</head>\n<body class=\"bg\">\n<nav class=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n    <div class=\"container\">\n        <a class=\"navbar-brand\" href=\"#\">OAuth Demo</a>\n        <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarSupportedContent\" aria-controls=\"navbarSupportedContent\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n            <span class=\"navbar-toggler-icon\"></span>\n        </button>\n\n        <div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n            <ul class=\"navbar-nav ml-auto\">\n                 <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"logindemo\">Home</a>\n                </li>\n                <li class=\"nav-item\">\n                    <a class=\"nav-link\" href=\"configdemo\">Logout</a>\n                </li>\n            </ul>\n\n        </div>\n    </div>\n</nav>\n\n<main class=\"login-form\">\n    <div class=\"cotainer\">\n        <div class=\"row justify-content-center\">\n            <div class=\"col-md-4\">\n                <div class=\"card special-card\">\n                    <div class=\"card-header\" align=\"center\">Authentication was successful.</div>\n                    <div class=\"card-body\">\n                      Got OAuth token and storing it in a cookie - {{{payload.access_token}}}.\n                      <div>\n                         Redirecting to menu options....\n                      </div>\n                    </div>\n                    \n                </div>\n            </div>\n        </div>\n    </div>\n\n</main>\n<script>\nsetTimeout(redirect(\"{{{payload.url}}}\"), 10000);\n</script>\n</body>\n</html>\n","output":"str","x":1860,"y":956,"wires":[["f49e4d49.d7c72"]]},{"id":"c56bb16e.e3936","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"apimenu","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1276,"wires":[["e5f764c8.a042d8"]]},{"id":"e5f764c8.a042d8","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>API Menu</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<link rel=\"stylesheet\" href=\"{{{payload.node_red_url}}}/style.css\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n<script>\n\tfunction redirect(url) {\n\t\twindow.location = url;\n\t}\n\tfunction setCookie(cname, cvalue, exdays) {\n\t\tvar d = new Date();\n\t\td.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));\n\t\tvar expires = \"expires=\" + d.toUTCString();\n\t\tdocument.cookie = cname + \"=\" + cvalue + \";\" + expires + \";path=/\";\n\t}\n\n\tfunction getCookie(cname) {\n\t\tvar name = cname + \"=\";\n\t\tvar ca = document.cookie.split(';');\n\t\tfor (var i = 0; i < ca.length; i++) {\n\t\t\tvar c = ca[i];\n\t\t\twhile (c.charAt(0) == ' ') {\n\t\t\t\tc = c.substring(1);\n\t\t\t}\n\t\t\tif (c.indexOf(name) == 0) {\n\t\t\t\treturn c.substring(name.length, c.length);\n\t\t\t}\n\t\t}\n\t\treturn \"\";\n\t}\n\n\tfunction checkCookie(cname) {\n\t\tvar token = getCookie(cname);\n\t\tif (token != \"\") {\n\t\t\talert(\"Welcome again \");\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"logindemo\");\n\t\t}\n\t}\n</script>\n\n</head>\n<body class=\"bg\">\n\t<nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">OAuth Demo</a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t\t<ul class=\"navbar-nav ml-auto\">\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"apimenu\">Home</a>\n\t\t\t\t\t</li>\n\t\t\t\t\t<li class=\"nav-item\"><a class=\"nav-link\" href=\"logindemo\">Logout</a>\n\t\t\t\t\t</li>\n\t\t\t\t</ul>\n\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-6\">\n\t\t\t\t<div class=\"card special-card bg-light\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">API Options</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"callapi\" method=\"POST\">\n\n\t\t\t\t\t\t\t<input type=\"hidden\" id=\"accesstoken\" name=\"inputaccesstoken\"\n\t\t\t\t\t\t\t\tvalue=\"null\" />\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">Invoke\n\t\t\t\t\t\t\t\t\tAPI</button>\n\t\t\t\t\t\t\t\t<p>The token is read from the secure cookie and is used to invoke the API.</p>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\n\t</main>\n\n\t<script>\n\t\tvar token = getCookie(\"token\");\n\t\tif (token != \"\") {\n\t\t\tvar tokenElem = document.getElementById(\"accesstoken\");\n\t\t\ttokenElem.value = token;\n\t\t} else {\n\t\t\talert(\"Session expired. Login again\");\n\t\t\tredirect(\"logindemo\");\n\t\t}\n\t</script>\n\n\n</body>\n</html>\n","output":"str","x":400,"y":1276,"wires":[["4e403c1c.fb279c"]]},{"id":"4e403c1c.fb279c","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":630,"y":1276,"wires":[]},{"id":"1873fd20.8e897b","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"callapi","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1416,"wires":[["2b3d3b20.31c2c4"]]},{"id":"cc451cf5.b9fee8","type":"function","z":"f68ed3a2.ff5978","name":"","func":"msg.headers = {};\nmsg.headers['X-IBM-Client-Id']= msg.payload.client_id;\nmsg.headers['Authorization']= 'Bearer '+msg.payload.inputaccesstoken;\nmsg.url = msg.payload.api_url;\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1416,"wires":[["f69d35f5.b6de1"]]},{"id":"f69d35f5.b6de1","type":"http request","z":"f68ed3a2.ff5978","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":850,"y":1416,"wires":[["1ccde862.86654"]]},{"id":"1ccde862.86654","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":1110,"y":1416,"wires":[]},{"id":"ec71bf62.07fe98","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"configuredemo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["db831682.975a2"]]},{"id":"db831682.975a2","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->\n<title>OAuth Demo | Configuration</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link\n\thref=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css\"\n\trel=\"stylesheet\">\n<script src=\"https://code.jquery.com/jquery-1.11.1.min.js\"></script>\n<script\n\tsrc=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js\"></script>\n</head>\n\n<body class=\"bg\">\n    <nav\n\t\tclass=\"navbar special-card navbar-expand-lg navbar-light bg-light navbar-laravel\">\n\t\t<div class=\"container\">\n\t\t\t<a class=\"navbar-brand\" href=\"#\">OAuth Demo </a>\n\t\t\t<button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\n\t\t\t\tdata-target=\"#navbarSupportedContent\"\n\t\t\t\taria-controls=\"navbarSupportedContent\" aria-expanded=\"false\"\n\t\t\t\taria-label=\"Toggle navigation\">\n\t\t\t\t<span class=\"navbar-toggler-icon\"></span>\n\t\t\t</button>\n\n\t\t\t<div class=\"collapse navbar-collapse\" id=\"navbarSupportedContent\">\n\t\t\t</div>\n\t\t</div>\n\t</nav>\n\t<main class=\"login-form\">\n\t<div class=\"cotainer\">\n\t\t<div class=\"row justify-content-center\">\n\t\t\t<div class=\"col-md-4\">\n\t\t\t\t<div class=\"card special-card\">\n\t\t\t\t\t<div class=\"card-header\" align=\"center\">OAuth2 Configuration</div>\n\t\t\t\t\t<div class=\"card-body\">\n\t\t\t\t\t\t<form action=\"configureapply\" method=\"POST\">\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"authorize_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Authorize\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_username\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"authorize_url\" required autofocus>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"token_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Token URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_token_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"token_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"redirect_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Redirect\n\t\t\t\t\t\t\t\t\tURL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_redirect_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"redirect_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"node_red_base_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">Node-RED\n\t\t\t\t\t\t\t\t\tBase URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_base_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"node_red_base_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"api_url\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">API URL</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_api_url\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"api_url\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"client_id\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">App\n\t\t\t\t\t\t\t\t\tClient ID</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_client_id\" class=\"form-control\"\n\t\t\t\t\t\t\t\t\t\tname=\"client_id\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t\t<div class=\"form-group row\">\n\t\t\t\t\t\t\t\t<label for=\"client_secret\"\n\t\t\t\t\t\t\t\t\tclass=\"col-md-4 col-form-label text-md-right\">App\n\t\t\t\t\t\t\t\t\tClient Secret</label>\n\t\t\t\t\t\t\t\t<div class=\"col-md-6\">\n\t\t\t\t\t\t\t\t\t<input type=\"text\" id=\"input_client_secret\"\n\t\t\t\t\t\t\t\t\t\tclass=\"form-control\" name=\"client_secret\" required>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t\t</div>\n\n\n\n\t\t\t\t\t\t\t<div class=\"col-md-6 offset-md-4\">\n\t\t\t\t\t\t\t\t<button type=\"submit\" class=\"btn btn-primary\">\n\t\t\t\t\t\t\t\t\tConfigure Demo</button>\n\t\t\t\t\t\t\t</div>\n\n\t\t\t\t\t\t</form>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n\t</main>\n\n</body>\n</html>\n\n","output":"str","x":400,"y":300,"wires":[["3d782912.a1b486"]]},{"id":"3d782912.a1b486","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":670,"y":300,"wires":[]},{"id":"4a88e182.3a58b","type":"http in","z":"f68ed3a2.ff5978","name":"Apply Configuration","url":"/configureapply","method":"post","upload":false,"swaggerDoc":"","x":930,"y":300,"wires":[["29eeab8f.d1c844"]]},{"id":"29eeab8f.d1c844","type":"function","z":"f68ed3a2.ff5978","name":"SetGlobal","func":"var node_red_url = msg.payload.node_red_base_url;\nvar oauth_authorize_url = msg.payload.authorize_url;\nvar oauth_token_url = msg.payload.token_url;\nvar redirect_url = msg.payload.redirect_url;\nvar client_id = msg.payload.client_id;\nvar client_secret = msg.payload.client_secret;\nvar api_url = msg.payload.api_url;\nvar globalContext = global;\nglobalContext.set(\"node_red_url\",node_red_url);\nglobalContext.set(\"api_url\",api_url);\nglobalContext.set(\"oauth_authorize_url\",oauth_authorize_url);\nglobalContext.set(\"oauth_token_url\", oauth_token_url);\nglobalContext.set(\"redirect_url\", redirect_url);\nglobalContext.set(\"client_id\", client_id);\nglobalContext.set(\"client_secret\", client_secret);\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":300,"wires":[["9ea49706.2b4fa"]]},{"id":"9ea49706.2b4fa","type":"template","z":"f68ed3a2.ff5978","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        Applied configuration successfully. Please wait...\n        <script>\n              function redirect(url) {\n\t                \twindow.location = url;\n            \t}\n              setTimeout(redirect(\"{{{payload.node_red_url}}}/logindemo\"), 1000)\n        </script>\n    </body>\n</html>","output":"str","x":1280,"y":300,"wires":[["6d79de00.fe42a8"]]},{"id":"6d79de00.fe42a8","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"200","headers":{},"x":1460,"y":300,"wires":[]},{"id":"78e028db.6226e","type":"function","z":"f68ed3a2.ff5978","name":"GetGlobal","func":"msg.payload={}\nvar globalContext = global;\nmsg.payload.node_red_url = globalContext.get(\"node_red_url\");\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["2e703003.e9fae"]]},{"id":"a082d55a.885ae","type":"function","z":"f68ed3a2.ff5978","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":700,"wires":[["7b943c65.ddbc8c"]]},{"id":"fdf374c.6effa88","type":"function","z":"f68ed3a2.ff5978","name":"GetGlobal","func":"var globalContext = global;\nglobalContext.set(\"username\",msg.payload.username);\nglobalContext.set(\"password\",msg.payload.password);\nmsg.payload.oauth_authorize_url = globalContext.get(\"oauth_authorize_url\");\nmsg.payload.oauth_token_url = globalContext.get(\"oauth_token_url\");\nmsg.payload.redirect_uri = globalContext.get(\"redirect_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nmsg.payload.client_secret = globalContext.get(\"client_secret\");\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1096,"wires":[["ebfe2c0d.fe7a7"]]},{"id":"2b3d3b20.31c2c4","type":"function","z":"f68ed3a2.ff5978","name":"GetGlobal","func":"var globalContext = global;\nmsg.payload.api_url = globalContext.get(\"api_url\");\nmsg.payload.client_id = globalContext.get(\"client_id\");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1416,"wires":[["cc451cf5.b9fee8"]]},{"id":"bf0406e2.a20438","type":"debug","z":"f68ed3a2.ff5978","name":"API Connect Authorize URL Invocation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":600,"wires":[]},{"id":"a5b211a6.bea05","type":"debug","z":"f68ed3a2.ff5978","name":"API Connect Token URL Invocation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1420,"y":1040,"wires":[]},{"id":"472ca035.7759b8","type":"comment","z":"f68ed3a2.ff5978","name":"Application API","info":"","x":120,"y":20,"wires":[]},{"id":"e0054c20.cd65c","type":"comment","z":"f68ed3a2.ff5978","name":"Dummy Authentication Service (accepts all usernames and passwords)","info":"","x":290,"y":140,"wires":[]},{"id":"cceb4607.b89b48","type":"comment","z":"f68ed3a2.ff5978","name":"Client application login","info":"","x":140,"y":359,"wires":[]},{"id":"621e89b1.8dfa68","type":"comment","z":"f68ed3a2.ff5978","name":"Application configuration with API Connect Authorize URL, Token URL, Client ID, Client Secret etc.","info":"","x":380,"y":260,"wires":[]},{"id":"dfa35a54.9f0db","type":"comment","z":"f68ed3a2.ff5978","name":"Flow to get token from API connect based on the OAuth implementation mode and scheme","info":"","x":380,"y":540,"wires":[]},{"id":"9e232350.ca949","type":"comment","z":"f68ed3a2.ff5978","name":"OAuth Redirect URL - configured on API Connect","info":"","x":240,"y":1020,"wires":[]},{"id":"d1ab2934.508a5","type":"comment","z":"f68ed3a2.ff5978","name":"Application API Menu (apis that can be invoked with the token)","info":"","x":310,"y":1240,"wires":[]},{"id":"69102638.0f7688","type":"comment","z":"f68ed3a2.ff5978","name":"Call API with Token flow","info":"","x":180,"y":1360,"wires":[]},{"id":"8b01fa2f.167608","type":"debug","z":"f68ed3a2.ff5978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":780,"wires":[]},{"id":"572a25b5.53a6ac","type":"comment","z":"f68ed3a2.ff5978","name":"Store configuration in a global variable","info":"","x":990,"y":260,"wires":[]},{"id":"6729c49b.a53d1c","type":"comment","z":"f68ed3a2.ff5978","name":"The below flow returns the CSS style sheet","info":"","x":240,"y":1500,"wires":[]},{"id":"2bc27d67.ea0f4a","type":"http in","z":"f68ed3a2.ff5978","name":"","url":"style.css","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1560,"wires":[["1f17cd2f.ba0c63"]]},{"id":"1f17cd2f.ba0c63","type":"template","z":"f68ed3a2.ff5978","name":"Styles","field":"payload","fieldType":"msg","format":"css","syntax":"plain","template":"/* Starter CSS for Flyout Menu */\n        \nbody, html {\n  height: 100%;\n}\n.bg {\n\n  /* Full height */\n  height: 100%;\n\n  /* Center and scale the image nicely */\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: cover;\n}\n\n.navbar-laravel\n{\n    box-shadow: 0 2px 4px rgba(0,0,0,.8);\n}\n\n.navbar-brand , .nav-link, .my-form, .login-form\n{\n    font-family: Raleway, sans-serif;\n}\n\n.my-form\n{\n    padding-top: 1.5rem;\n    padding-bottom: 1.5rem;\n}\n.special-card {\n  opacity: .7;\n}\n\n.transp {\n    box-shadow: 0 2px 4px rgba(0,0,0,.04);\n}\n\n.my-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n.login-form\n{\n    padding-top: 12rem;\n    padding-bottom: 1.5rem;\n}\n\n.login-form .row\n{\n    margin-left: 0;\n    margin-right: 0;\n}\n\n#cssmenu {\n  padding: 0;\n  margin: 0;\n  border: 0;\n}\n#cssmenu ul,\nli {\n  list-style: none;\n  margin: 0;\n  padding: 0;\n}\n#cssmenu ul {\n  position: relative;\n  z-index: 597;\n  float: left;\n}\n#cssmenu ul li {\n  float: left;\n  min-height: 1px;\n  line-height: 1em;\n  vertical-align: middle;\n}\n#cssmenu ul li.hover,\n#cssmenu ul li:hover {\n  position: relative;\n  z-index: 599;\n  cursor: default;\n}\n#cssmenu ul ul {\n  visibility: hidden;\n  position: absolute;\n  top: 100%;\n  left: 0;\n  z-index: 598;\n  width: 100%;\n}\n#cssmenu ul ul li {\n  float: none;\n}\n#cssmenu ul li:hover > ul {\n  visibility: visible;\n}\n#cssmenu ul ul {\n  top: 0;\n  left: 100%;\n}\n#cssmenu ul li {\n  float: none;\n}\n/* Custom Stuff */\n#cssmenu span,\n#cssmenu a {\n  display: inline-block;\n  font-family: Arial, Helvetica, sans-serif;\n  font-size: 12px;\n  text-decoration: none;\n}\n#cssmenu {\n  -moz-border-radius: 5px;\n  -webkit-border-radius: 5px;\n  border-radius: 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);\n  font-weight: 600;\n  width: 200px;\n}\n#cssmenu:after,\n#cssmenu ul:after {\n  content: '';\n  display: block;\n  clear: both;\n}\n#cssmenu > ul > li:first-child {\n  -moz-border-radius: 5px 5px 0 0;\n  -webkit-border-radius: 5px 5px 0 0;\n  border-radius: 5px 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li:last-child {\n  -moz-border-radius: 0 0 5px 5px;\n  -webkit-border-radius: 0 0 5px 5px;\n  border-radius: 0 0 5px 5px;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:first-child {\n  -moz-border-radius: 0 5px 0 0;\n  -webkit-border-radius: 0 5px 0 0;\n  border-radius: 0 5px 0 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu > ul > li ul ul li:last-child {\n  -moz-border-radius: 0 0 5px 0;\n  -webkit-border-radius: 0 0 5px 0;\n  border-radius: 0 0 5px 0;\n  -moz-background-clip: padding;\n  -webkit-background-clip: padding-box;\n  background-clip: padding-box;\n}\n#cssmenu ul,\n#cssmenu li {\n  width: 100%;\n}\n#cssmenu li {\n  background: #c0bebf url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEXy7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7erx7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7ery7eoO3g4TAAAAMnRSTlP8+fbz7+vn497Z1M/KxL+5s66oopuVj4mDfHZwamRdV1FMRkA7NTArJiEcGBQQDAkGA02z+X0AAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2edea), color-stop(1, #c0bebf));\n  background-image: -webkit-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -moz-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -ms-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: -o-linear-gradient(top, #f2edea, #c0bebf);\n  background-image: linear-gradient(#f2edea, #c0bebf);\n}\n#cssmenu li:hover,\n#cssmenu li.active {\n  background: #606a76 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA0CAMAAAB8fKKlAAAAmVBMVEVKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmJKVmL///9KVmL3Z0MtAAAAMnRSTlP8+fby7+vm4t3Y087Iw723sauln5mTjIaAeXNsZmBaVE5IQjw3MSwnIh0ZFBANCQYDAAm6nKYAAABLSURBVHheDcGDEQMBAACwvFnbtrv/cO3F949AKBJLpDK5QqlSa2hqaevo6ukbGBoZm5iamVtYWlnb2NrZOzg6Obu4url7eHp5+/wAxikFLnlTZcYAAAAASUVORK5CYII=) repeat-x;\n  -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);\n  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a5662), color-stop(1, #606a76));\n  background-image: -webkit-linear-gradient(top, #4a5662, #606a76);\n  background-image: -moz-linear-gradient(top, #4a5662, #606a76);\n  background-image: -ms-linear-gradient(top, #4a5662, #606a76);\n  background-image: -o-linear-gradient(top, #4a5662, #606a76);\n  background-image: linear-gradient(#4a5662, #606a76);\n}\n#cssmenu li:hover > a,\n#cssmenu li.active > a {\n  color: #FFF;\n}\n#cssmenu a {\n  color: #666666;\n  line-height: 160%;\n  padding: 16px 8px 16px 28px;\n  width: 164px;\n}\n#cssmenu ul ul {\n  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);\n  width: 200px;\n}\n#cssmenu ul ul li {\n  background: #606a76;\n  border-bottom: 1px solid #59636F;\n  -moz-box-shadow: inset 0 1px 0 #66707c;\n  -webkit-box-shadow: inset 0 1px 0 #66707c;\n  box-shadow: inset 0 1px 0 #66707c;\n}\n#cssmenu ul ul li:hover {\n  background: #4a5662;\n}\n#cssmenu ul ul li a {\n  color: #FFF;\n}\n#cssmenu ul ul a,\n#cssmenu ul ul a span {\n  font-size: 12px;\n}\n\nbody{\n    margin: 0;\n    font-size: .9rem;\n    font-weight: 400;\n    line-height: 1.6;\n    color: #212529;\n    text-align: left;\n    background-color: #f5f8fa;\n}","output":"str","x":370,"y":1560,"wires":[["bd780f3f.f2b0f8"]]},{"id":"bd780f3f.f2b0f8","type":"function","z":"f68ed3a2.ff5978","name":"","func":"msg.headers = {};\nmsg.headers[\"Content-Type\"]=\"text/css\";\nmsg.headers[\"Accept\"]=\"text/css\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1560,"wires":[["4843290.a23bc58"]]},{"id":"4843290.a23bc58","type":"http response","z":"f68ed3a2.ff5978","name":"","statusCode":"","headers":{},"x":830,"y":1560,"wires":[]}]